<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="topnav">
  <a href="/">HOME</a> |
  <a href="/members">MEMBERS</a> |
    <a href="/items">ITEMS</a>
</div>

{% block content %}
<form method="post" action="{% url 'create_it_record' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Record</button>
</form>
{% endblock %}

</body>
</html>